{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

{{ form_errors(registrationForm) }}
<section class="section-padding gray-bg log-section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 card card-panel">
                        <h3 class="text-extrabold">Create a new account</h3>
                         {{ form_start(registrationForm) }}

                            <input type="hidden" name="_token" value="">

                            <div class="input-field">
                                {{ form_widget(registrationForm.username, { 'id': 'email' }) }}
                                <label for="email">Username</label>
                                <span class="help-block">Type your username.</span>
                            </div>
                            <div class="input-field">
                                {{ form_widget(registrationForm.plainPassword, { 'id': 'password' }) }}
                                <label for="password">Password</label>
                                <i class="fa fa-eye show-password"></i>
                                <span class="help-block">Type your password.</span>
                            </div>
                            <div class="input-field">
                                <input type="password" name="password_confirmation" id="password_confirmation" value=""
                                       required
                                       data-parsley-trigger="change"
                                       data-parsley-equalto="#password"
                                       data-parsley-error-message="Password does not match.">
                                <label for="password_confirmation">Confirm Password</label>
                                <i class="fa fa-eye show-password"></i>
                                <span class="help-block">Confirm your password.</span>
                            </div>
                            <div class="checkbox">
                                {{ form_widget(registrationForm.agreeTerms, { 'id': 'accept-terms' }) }}
                                <label for="accept-terms">I have read and I accept the <a href="#!" target="_blank">Terms Of Use</a></label>
                            </div>

                            <button type="submit" class="btn btn-lg gradient secondary btn-block waves-effect waves-light mt-20 mb-20">Create an account</button>
                            <div class="links">
                                <a href="/login.html">Already have an account? Click here</a>
                            </div>
                        {{ form_end(registrationForm) }}
                    </div>

                </div>
            </div>
        </section>
{% endblock %}
